Repository aaboyle878/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @IntersectMBO/govtool-core-committers, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

chore: regenerate yarn.lock
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: bump cardano-db-sync version
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: bump node version
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

fix: change outcome api url secret
  .github/workflows/build-and-deploy-test-stack.yml
Owners: @placek, @adgud

fix: update environment variable name for outcomes API URL
  .github/workflows/build-and-deploy-test-stack.yml
Owners: @placek, @adgud

chore: add environment for preview-govtool in deployment workflow
  .github/workflows/build-and-deploy-test-stack.yml
Owners: @placek, @adgud

cleans network name
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

cleans network name
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

cleans network name
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

adds new workflow to replace old one
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

adds steps to support asset compression
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

removes compression from build and handles in the dockerfile
  .github/workflows/build-from-main.yml
  govtool/frontend/Dockerfile.qovery
Owners: @placek, @adgud, @MSzalowski, @IntersectMBO/govtool-core-committers

removes brotli from build to be handled by dockerfile
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

allow manual trigger
  .github/workflows/build-from-main.yml
Owners: @placek, @adgud

reverts changes
  govtool/frontend/Dockerfile.qovery
Owners: @MSzalowski, @IntersectMBO/govtool-core-committers

updates the dockerfile
  govtool/frontend/Dockerfile.qovery
Owners: @MSzalowski, @IntersectMBO/govtool-core-committers

local test for cahnges to main repo
  .github/workflows/build-from-test.yml
Owners: @placek, @adgud

disables all workflows and adds updates to new one
  .github/workflows/build-and-deploy-test-stack.yml
  .github/workflows/build-from-test.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr.yaml
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
  .github/workflows/test_storybook.yml
Owners: @placek, @adgud

updated docker build tags
  .github/workflows/build-from-test.yml
Owners: @placek, @adgud

updates tagging in docker build
  .github/workflows/build-from-test.yml
Owners: @placek, @adgud

updates tagging in docker build
  .github/workflows/build-from-test.yml
Owners: @placek, @adgud

dummy
  .github/workflows/merge.yaml
Owners: @placek, @adgud

dummy
  .github/workflows/pr.yaml
Owners: @placek, @adgud

(fix#3954): Incorrect Display of New Committee Parameters in Governance Action Details
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/GovernanceActionNewCommitteeDetailsTabContent.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @Ryun1, @MSzalowski, @IntersectMBO/govtool-core-committers

updates ghc and cabal versions
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

removes broken packages during hlint install
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

updates files to be removed
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

updates how HLint install cabal upgrade step works
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

updates how HLint install cabal upgrade step works
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

updates how HLint install cabal upgrade step works
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

updates how HLint install cabal upgrade step works
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

updates how HLint install cabal upgrade step works
  .github/workflows/code_check_backend.yml
Owners: @placek, @adgud

dummy
  govtool/frontend/src/App.tsx
Owners: @MSzalowski, @IntersectMBO/govtool-core-committers

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @IntersectMBO/govtool-core-committers
*.tsx                                                                       @MSzalowski @IntersectMBO/govtool-core-committers
*.ts                                                                        @MSzalowski @IntersectMBO/govtool-core-committers
*.css                                                                       @MSzalowski @IntersectMBO/govtool-core-committers

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @IntersectMBO/govtool-test
gov-action-loader/*                                                         @IntersectMBO/govtool-test
